{
  "env": {
    "production": {
      "plugins": [
        [
          "react-remove-properties",
          {
            "properties": [
              "data-cy"
            ]
          }
        ]
      ]
    }
  },
  "plugins": [
    "@emotion/babel-plugin",
    [
      "module-resolver",
      {
        "alias": {
          "@": "./src",
          "@aliases": "./src/aliases",
          "@components": "./src/components",
          "@constants": "./src/constants",
          "@contents": "./src/contents",
          "@enums":"./src/enums",
          "@hocs": "./src/hocs",
          "@hooks": "./src/hooks",
          "@interfaces": "./src/interfaces",
          "@layouts": "./src/layouts",
          "@libs": "./src/libs",
          "@middlewares": "./src/middlewares",
          "@pages": "./src/pages",
          "@parts": "./src/parts",
          "@static": "./public/static",
          "@styles": "./src/styles",
          "@utils": "./src/utils"
        },
        "extensions": [".ts", ".tsx"]
      }
    ],
    [
      "next/dist/build/babel/plugins/jsx-pragma",
      {
        "importAs": "React",
        "module": "react",
        "pragma": "__jsx",
        "property": "createElement"
      }
    ]
  ],
  "presets": [
    "@babel/preset-typescript",
    "next/babel",
    [
      "@babel/preset-react",
      {
        "importSource": "@emotion/react",
        "runtime": "automatic"
      }
    ]
  ]
}